# An * ensures that everything will be ignored.
*

# Whitelist
!*.yaml
!.gitignore
!.gitattributes
!*.md
!.editorconfig
!.github/
!.github/*
!.github/workflows/*
!requirements.txt
!.vscode/
!.vscode/settings.json
!LICENSE
!README.md

# Ignore folders.
.storage
.cloud
.google.token

